<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright 2012-2013 Trento RISE
  
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
         http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either   express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.trentorise.smartcampus.eb"
    android:sharedUserId="eu.trentorise.smartcampus.shared"
    android:sharedUserLabel="@string/app_uid_label"
    android:versionCode="16"
    android:versionName="0.11.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcer"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:logo="@drawable/logo"
        android:theme="@style/Theme.experiencebuster" 
        android:largeHeap="true">
        <uses-library android:name="com.google.android.maps" />

        <meta-data
            android:name="eu.trentorise.smartcampus.account.AUTH_URL"
            android:value="https://ac.smartcampuslab.it/aac" />
        <meta-data
            android:name="eu.trentorise.smartcampus.account.ACCOUNT_TYPE"
            android:value="eu.trentorise.smartcampus.account" />
        <meta-data
            android:name="eu.trentorise.smartcampus.account.ACCOUNT_NAME"
            android:value="SmartCampus" />
        <meta-data
            android:name="eu.trentorise.smartcampus.account.ACCOUNT_BASED_ACCESS"
            android:value="true" />

        <activity android:name=".SettingsActivity" />
        <activity
            android:name=".CatchActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".QRCodeActivity" />
        <activity
            android:name="eu.trentorise.smartcampus.eb.HomeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
<!--             <intent-filter> -->
<!--                 <action android:name="android.intent.action.MAIN" /> -->

<!--                 <category android:name="android.intent.category.LAUNCHER" /> -->
<!--             </intent-filter> -->
            <intent-filter>
                <action android:name="eu.trentorise.smartcampus.START" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.eb.fragments.experience.ExperiencePager"
            android:configChanges="keyboardHidden|orientation" />

        <!-- Viewer for experience -->
        <activity
            android:name=".ViewerActivity"
            android:configChanges="orientation|keyboard" >
            <intent-filter>
                <action android:name="eu.trentorise.smartcampus.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="eu.trentorise.smartcampus.experience" />
            </intent-filter>
        </activity>

        <!-- Sync Service -->

        <service android:name="eu.trentorise.smartcampus.storage.sync.service.SyncStorageService" />
        <service
            android:name=".syncadapter.EBSyncService"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <provider
            android:name=".EBDummyProvider"
            android:authorities="eu.trentorise.smartcampus.eb"
            android:exported="false"
            android:label="@string/app_name"
            android:syncable="true" />

        <!-- Filestorage activities -->
        <activity
            android:name=".filestorage.FilestorageAccountActivity"
            android:configChanges="orientation|keyboard"
            android:label="@string/title_activity_file" >
        </activity>
        
        <activity
            android:name="eu.trentorise.smartcampus.storage.AuthActivity"
            android:configChanges="orientation|keyboard" >
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.storage.dropbox.DropboxAuth"
            android:configChanges="orientation|keyboard" >
        </activity>
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask" >
            <intent-filter>
                <data android:scheme="db-jxevbhte3wzuk1x" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>